{%- comment %}

  Page Header
  ------------------------------------------------------------------------------

  Usage:

  {% include 'page-title' with { string } as page-title %}

{% endcomment -%}

<h1 style="display: none">{{ page-title | strip }}</h1>
