html {
  font-size: 16px; 
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black, 0); // 5
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: left; // 3
  background-color: $body-bg;
  color: $color-text;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;  
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus {
  outline: 0 !important;
}

a {
  text-decoration: none;
  color: $color-text;
}

p {
  margin: 0 0 $spacer 0;

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 $gutter/2;
}
