.product-detail-form {
  // > .container {
  //   display: flex;

  //   > div {
  //     flex: 1;
  //     padding: 0 $gutter/2;
  //   }
  // }
}

.option-value-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: -10px;
}

.option-value {
  position: relative;
  display: inline-block;
  margin-right: 4px;
  padding: 3px 10px;

  &:after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 10px;
    right: 10px;
    height: 1px;
    background-color: transparent;
    transition: background-color 150ms ease-out;
  }

  @include has-hover {
    &:hover {
      &:after {
        background-color: transparentize($color-text, 0.4);
      }
    }
  }

  &.is-active {
    background-color: $color-text;
    color: $body-bg;

    &:after {
      display: none;
    }
  }

  &.is-disabled {
    text-decoration: line-through;
    cursor: not-allowed;
    
    &:after {
      display: none;
    }
  }
}