.header {
  position: fixed;
  z-index: $zindex-header;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding-top: $outer-vertical-margin;

  a {
    position: relative;
    left: -3px;
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    text-transform: uppercase;   
  }

  .header-cart {
    left: auto;
    right: -3px;
  } 

  a:not(.logo-link) {
    @include has-hover {
      &:hover {
        background-color: $color-text;
        color: $body-bg;
      }
    }
  }
}

.header-nav {
  a {
    display: block;
  }

  li {
    margin-bottom: 9px;

    @include bp-up(lg) {
      margin-bottom: 4px;
    }
  }
}

.header-logo {
  width: 100px;
  position: fixed;
  right: $outer-gutter-mobile;
  bottom: $outer-vertical-margin;

  @include bp-up(lg) {
    right: $outer-gutter;
    opacity: 0.85;
  }

  @include bp-up(xl) {
    width: 125px;
  }
}
