.video-card {
  & + & {
    margin-top: 100px;
  }

  .embed {
    position: relative;
    height: 0;
    padding-bottom: percentage(9/16);
    margin-bottom: $spacer * 1.5;

    iframe,
    .embed__cover,
    .embed__cover img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }
  }

  .embed__cover {
    background-color: $body-bg;

    img {
      object-fit: cover;

      opacity: 0;
      transition: opacity .4s cubic-bezier(0.14, 0.23, 0.24, 0.84);
    }

    &.img-loaded img {
      opacity: 1;
    }

    .btn {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    transition: opacity .5s cubic-bezier(0.14, 0.23, 0.24, 0.84);

    &.is-hidden {
      opacity: 0;
      transition-timing-function: cubic-bezier(0.75, 0.07, 0.83, 0.76);
      pointer-events: none;
    }
  }
}