// -------------------------
// Mixin - Type
// -------------------------
//

@mixin h1 {
  font-size: $h1-font-size;
  letter-spacing: $h1-letter-spacing;
  line-height: $h1-line-height;
}

@mixin h2 {
  font-size: $h2-font-size;
  letter-spacing: $h2-letter-spacing;
  line-height: $h2-line-height;
}

@mixin h3 {
  font-size: $h3-font-size;
  letter-spacing: $h3-letter-spacing;
  line-height: $h3-line-height;
}

@mixin h4 {
  font-size: $h4-font-size;
  letter-spacing: $h4-letter-spacing;
  line-height: $h4-line-height;
}

@mixin h5 {
  font-size: $h5-font-size;
  letter-spacing: $h5-letter-spacing;
  line-height: $h5-line-height;
}

@mixin h6 {
  font-size: $h6-font-size;
  letter-spacing: $h6-letter-spacing;
  line-height: $h6-line-height;
}


// @mixin text-small {
//   font-size: $font-size-small;
//   line-height: $line-height-small;
// }

// @mixin text-smaller {
//   font-size: $font-size-smaller;
//   line-height: $line-height-smaller;
// }

// @mixin text-tiny {
//   font-size: $font-size-tiny;
//   line-height: $line-height-tiny;
// }